<section class="Hero">
  <div class="container-fluid">
    <div class="row justify-content-start">
      <div
        class="col-12 col-md-6 d-flex align-items-center align-content-center align-items-md-start align-content-md-start justify-content-md-start flex-column order-last order-md-first p-5">
        <div class="logo">
          <img src="{{image_base_url}}/layered-logo-white.svg" alt="layered logo" width="600" height="103" />
        </div>
        <h1>
          %VITE_HERO_HEADLINE_TEXT%
        </h1>
      </div>
    </div>
  </div>
</section>